/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(https://img.freepik.com/free-vector/pink-blue-neon-frame-neon-frame-dark-background_53876-99048.jpg);
    color: white;
    background-origin: content-box;
    font-family: Segoe UI;

    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-size: 100% 100%;
    
}
a{
    text-decoration: none;
}